*{
  margin: 0;
  padding: 0;
}

#lista{
  width: 24vw;
  height: 20vh;
  background-color: grey;
  margin-top: 2vh;
  position:absolute;
    left: 38%;
}

#topp{
  width: 100vw;
  height: 10vh;
  background-color: #b5ff93;
  text-align: center;

}

#funka{
  width: 24vw;
  height: 12vh;
  background-color: grey;
  margin: 2vh;
  position: absolute;
  left: 10%;
  text-align: center;
  border: 3px solid #98ff61;
}

#show{
  width: 12vw;
  height: 37vh;
  background-color: grey;
  margin-top: 2vh;
  position: absolute;
  left: 65%;
  text-align: center;
  border: 3px solid #98ff61;
}

#knapp{
  width: 24vw;
  height: 5vh;
  position:absolute;
    top: 30%;
    left: 38%;

}

#info{
  width: 24vw;
  height: 10vh;
  position:absolute;
    top: 35%;
    left: 38%;
    text-align: center;
    background-color: grey;
    font-size: 30px;
    
}
